html {
    font-size: 1rem;
}
  
@include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
}
  
@include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
  }
}
  
@include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
  }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* NAVBAR */
.navbar {
    letter-spacing: 0.07em;
}

.nav-link {
    text-align: right;
    color: #3668A9 !important;
}

.nav-link:hover {
  font-weight: 600;
}

/* INDEX */
#home-img {
    width: 90%;
}

blockquote {
    color: #3668A9 !important;
}

#quote-text {
    text-shadow:  0.06rem 0.06rem 0px #B0B0B4;
}

#quote-info {
    font-size: 0.95em;
}

#start-quote {
    width: 4%;
    height: 4%;
}

#end-quote {
    width: 4%;
    height: 4%;
}

/*___PROJECTS___*/
.card {
  border: none;
}

.btn {
  align-content: center;
  box-shadow: 0rem 0.1rem 0.1rem #B0B0B4;
  background-color: #F8F9FD;
  border-color: #3668A9;
  border-radius: 0.7em;
  color: #3668A9;
  font-family: 'Consolas';
}

.btn:hover {
  background-color: #3668A9;
  border-color: #3668A9;
  color: #F8F9FD !important;
}

.card-img-top {
  width: 80%;
}

.title-project {
  color: #3668A9!important;
}

hr {
  border-top: 0.1em solid #3668A9;  
}

/*___STUDIES___*/
.logo {
  width: 0.7in;
  height: 0.7in;
}

.uba {
  width: 0.8in;
  height: 0.8in;
}

.center, .center:hover {
  color: #182E4B !important;

}

.study, .study:hover, a {
  color: #3668A9 !important;
}

/*___ABOUT___*/
#img-me {
  width: 70%;
}

.hello {
  font-size: 1.8em;
  color: #3668A9 !important;
  letter-spacing: 0.08rem;
  text-shadow: 0rem 0.1rem 0.1rem #B0B0B4;
}

.description-about {
  font-family: 'Trebuchet MS';
  font-size: 1.15em;
  color: #182E4B !important;
  letter-spacing: 0.05rem;
  line-height: 1.7; 
}

/*___FOOTER___*/
.contact {
  width: 5rem;  
}

#emoji-heart {
  width: 2.2%;
  height: 2.2%;
}

.by-footer, #name-footer {
  font-size: 0.9em;
}

#name-footer {
  color: rgb(83, 191, 241);
  font-weight: 500;

}

/*____TYPOGRAPGHY____*/

h2 {
    color: #182E4B !important;
    text-shadow: 0.07rem 0.07rem 0rem #B0B0B4;
    letter-spacing: 0.05em;
    font-weight: 600;
}

h3 {
    font-size: 1.5em;
}

a:hover {
    text-decoration: none;    
}

/**/
/*____COLORES____
White #F8F9FD
Brighter: #f8f9f6
Bright: #C6DCFF
Medium: #3668A9
Dark: #182E4B
Black: #0D1623
Shadow: #B0B0B4 */